* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain {
  width: 1200px;
  height: 550px;
  display: flex;
  justify-content: center;
}
.left {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.left div {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: crimson;
}
.left span {
  margin-left: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.left a {
  color: white;
}
.right {
  width: 950px;
  height: 550px;
  background-color: rgb(134, 75, 134);
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
}
table {
  width: 100%;
  text-align: center;
}
table td {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
table button {
  background-color: transparent;
  border: none;
  margin: 5px;
  color: red;
}
.fa-pen-to-square {
  color: green;
}
td img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.btn {
  height: 50px;
  width: 100px;
  background-color: rgb(6, 192, 0);
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
